@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  @apply bg-gray-50 text-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.active {
  @apply text-yellow-900;
}

.dashboard nav .active {
  @apply bg-yellow-900 text-white;
}

table th, td {
  @apply pb-3;
}

table th {
  @apply pr-3;
}